/*------------------------------------------------------------*/
/*------------BASIC SETUP------------------------*/
/*------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ededed;
    color: #4a4a4a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 1;
    visibility:hidden;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}
/*------------------------------------------------------------*/
/*---------------------HEADINGS--------------------*/
/*------------------------------------------------------------*/

h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}


h1{
     margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 250%;
     word-spacing: 3px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

/*------------------------------------------------------------*/
/*---------------------PARAGRAPHS--------------------*/
/*------------------------------------------------------------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    font-weight: 300;
    line-height: 145%;
}

/*------------------------------------------------------------*/
/*---------------------ICONS--------------------*/
/*------------------------------------------------------------*/

.icon-big {
    font-size: 250%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    position:relative;
    margin-left: 50%;
}   

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*------------------------------------------------------------*/
/*---------------------BUTTONS--------------------*/
/*------------------------------------------------------------*/

.btn:link,
.btn:visited,
input[type=submit]  {
    display: inline-block;
    padding: 10px 30px; 
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.25s, border 0.25s, color 0.25s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]  {
    background-color: #e67e22;
    border:1px solid #e67e22;
    color:#fff;
    margin-right: 15px;     
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active   {
    background-color:#cf6d17;
}

.btn-full:hover,
.btn-full:active{
    background-color: #cf6d17;
    border:1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}
/*------------------------------------------------------------*/
/*---------------------HEADERS--------------------*/
/*------------------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.77),rgba(0, 0, 0, 0.5)),url(img/hero.jpg); 
    background-size:cover;
    background-position: center; 
    background-attachment: fixed;    
    background-repeat: no-repeat;
    height: 100vh;  
}

.hero-text-box{
    position: absolute;
    width: 1140;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin: 20px;
}

.logo-black {
    display: none; 
    height: 50px;
    margin: 5px 0;
    float: left;
    width: auto;
}
/* main nav */
.main-nav{
    float:right;
    list-style: none;
    margin-top: 50px;
    margin-right: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;  
}

/* sticky nav */

.sticky {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95 );
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0px;
    color: #555;
}

.sticky .logo-black { display: block; }
.sticky .logo { display: none; }
.sticky .main-nav { margin-top: 18px; }

/*------------------------------------------------------------*/
/*---------------------FEATURES--------------------*/
/*------------------------------------------------------------*/

.section-features .long-copy{
    margin-bottom: 30px; 
}

.section-features .row{
    
}

/*------------------------------------------------------------*/
/*---------------------MEALS--------------------*/
/*------------------------------------------------------------*/

.section-meals .box{
    padding: 0;
    margin: 0;
    position: relative;
}

.section-meals .row{
    padding: 0;
    margin: 0 ;
    max-width: 85%;
}
.meals-showcase{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translate(-47.5%,0);
}


.meal-photo{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img{
    image-resolution: 300dpi;
    padding: 1px;
    
    opacity: 0.6;
    width: 100%;
    height: auto;
    transform: scale(1.22);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.14);
}

/*------------------------------------------------------------*/
/*---------------------HOW IT WORKS--------------------*/
/*------------------------------------------------------------*/

.section-steps {
    background-color: #ededed;
}

.steps-box:first-child {
    text-align:right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;    
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;    
}

.works-step:last-of-type {
    margin-bottom: 80px;
    
}

.works-step div {
    color:#e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*------------------------------------------------------------*/
/*---------------------CITIES--------------------*/
/*------------------------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.box h3 {
    text-align: center;
}

/*------------------------------------------------------------*/
/*---------------------CUSTOMER--------------------*/
/*------------------------------------------------------------*/

.section-testimonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size:cover;
    color: white;
    background-attachment: fixed;
}

blockquote:before {
    content:"\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top:-5px;
    left: -5px; 
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img{
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*------------------------------------------------------------*/
/*---------------------PLANS--------------------*/
/*------------------------------------------------------------*/

.section-plans {
    background-color: #ededed;
}

.plan-box {
    background-color: white;
    border-radius: 5%;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 4px 4px #e6e6e6;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #ffffff;
}

.plan-box div:first-child {
    background-color: #e6e6e6;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}


/*------------------------------------------------------------*/
/*---------------------CONTACT--------------------*/
/*------------------------------------------------------------*/

.contact-form {
    width: 60%;
    margin:0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline:none;
}



/*------------------------------------------------------------*/
/*---------------------FOOTER---------------------*/
/*------------------------------------------------------------*/

footer{
    background-color: #333;
    padding: 20px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888888;
    transition: color 0.3s;
}
    
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
 font-size: 150%;   
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram,
.ion-social-googleplus {
    transition: color 0.25s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

